.attitude{
    padding-bottom: 0px;

&__box{
    display: flex;
  flex-direction: row;
  gap: 30px; 
}
&__image{
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color:getBgColor('background-2');
    display: flex;
    align-items: center;
    justify-content: center;
}
&__image--title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 30px;
}
&__image--content{
    font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color:  getColor('font-3');
  padding-top: 10px;
}

}