/*conteners */
* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color-text-black);
    font-weight: 400;
    font-size: 16px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  img {
    display: block;
  }