.elipse {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: getBgColor("deafult-2");
  fill: getBgColor("icon-1");
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--footer {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: getBgColor("icon-2");
    fill: getBgColor("deafult-2");
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus,
  &--footer:hover,
  &--footer:focus {
    background-color: getBgColor("button-activebg");
    fill: getBgColor("deafult-2");
  }
}
