.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: getBgColor('background-3');

&__box-address{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
&__logo{
    padding-bottom: 20px; 
}   
}