.hero {
  background: getBgColor("background-3");

  &__slogan {
    background: getBgColor("background-3");
    background: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(10, 10, 10, 0.73)
      ),
      url(../images/background-slogan.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    background-position: center;
    margin: 0 auto;
  }

  &__flex-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor("font-2");
  max-width: 696px;
  max-height: 120px;
}
