.whatwedo {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 0;
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  &__item {
    position: relative;
  }
  &__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background-color: getBgColor("background-photo-what-we-do");
    color: getColor("font-2");
    cursor: default;
  }
}
